.mainContentContainer{
    max-width: 90%;
    text-align: center;
    color: #000;
}
/* Styles of each tag */
.spanText{
    color: rgb(124, 124, 124);
    font-size: 12px;
}
.mainTitle{
    font-weight: bold;
    font-size: 20px;
    padding: 16px 0 32px;
}
.paragraph{
    font-size: 14px;
    width: 80%;
    margin: auto;
}
.btn-detail{
    margin-top: 24px;
    background-color: #0f0f0f;
    color: #f0f0f0;
    padding: 12px;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media only screen and (min-width: 769px){
    .mainContentContainer{
        max-width: 50%;
        text-align: start;
    }
    .paragraph{
        margin: 0;
    }
}